* {
    font-family:sans-serif;
}

nav a {
    color: cadetblue;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    list-style-type: none;
}

h2, h3 {
    color: aquamarine;
}