* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #F87060;
}

nav a {
    color: cadetblue;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #102542;
}